# NeonDB Connection String
DATABASE_URL="postgresql://username:password@host/database?sslmode=require"

# Groq API Key
GROQ_API_KEY="gsk_your_groq_api_key_here"

# JWT Secret for Authentication
JWT_SECRET="your_jwt_signing_key_here"

# Backend Port (Optional)
PORT=3001

# Nodemailer configuration
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_RECEIVER="receiver-email@gmail.com"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_SECURE="false"
